{% extends "dashboard/common_dashboard.html" %}

{% block title %}Manager Dashboard{% endblock title %}

{% block tasks %}
<div class="p-2">
      {% if messages %}
          {% for message in messages %}
              <div class="px-2 py-1 w-full bg-green-400">{{message}}</div>
          {% endfor %}
      {% endif %}
</div>

<div class="mx-auto mt-8 shadow-sm bg-white rounded-md">
  <div class="grid grid-cols-4 text-gray-500 border-b border-gray-100">
    <div class="p-4">TASK TITLE</div>
    <div class="p-4">PRIORITY</div>
    <div class="p-4">TEAM</div>
    <div class="p-4">CREATED AT</div>
  </div>

  {% comment %} Tasks {% endcomment %}
  
  <div class="grid grid-cols-4 p-4 gap-6 border-b border-gray-100">
    {% for task in tasks %}
      <div class="flex items-center gap-3">
      <div class="h-2 w-2 rounded-full bg-green-500"></div>
      <div><span class="font-medium">{{task.title}}</span></div>
      <a href="{% url "update-task" task.id %}" class="px-2 py-1 bg-green-500">Edit</a>
      <form method="POST" action="{% url "delete-task" task.id %}">
        {% csrf_token %}
        <button type="submit" class="px-2 py-1 bg-red-500">Delete</button>
      </form>
    </div>
    <div>
      <span class="px-3 py-1 bg-blue-100 rounded-full text-blue-600 text-sm"
        >{{task.taskdetails.priority}}</span
      >
    </div>
    <div class="flex -space-x-2">
      {% for emp in task.assigned_to.all %}
        <div
        class="h-8 w-8 rounded-full bg-blue-500 text-white flex justify-center items-center text-sm border-2 border-white"
      >
        {{emp.name|slice:":1"}}
      </div>
      {% endfor %}
    </div>
    <div><span class="text-gray-500 text-base">{{task.created_at|timesince}}</span></div>
    {% endfor %}
</div>
{% endblock tasks %}